span[line-row] {
  position: absolute;
  pointer-events: none;
  top: 65px;
  font-size: 100%;
  left: 2em;
  width: 3em;
  letter-spacing: -1px;
  border-right: 1px solid #999;
  user-select: none;
  counter-reset: linenumber;
}

span[line-row]>span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

span[line-row]>span::before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: .8em;
  text-align: right
}

